.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.sconsign.dblite
*.dSYM
*.pyc
*.d
tags
.gdb_history
lcov-output
cov.info
node_modules

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Netbeans project folder
nbproject

# Platformio likes to auto-create this
lib/readme.txt
CMakeListsPrivate.txt

# CLion
cmake-build-debug
# User-specific stuff
.idea/vcs.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Python VirtualEnv
venv

# local config file for personal settings
extras/config/kbox-config.json
