typedef enum {
  SKPathInvalidPath,

  // Insert Non-Indexed Keys Here

  // Marker value - Every path below requires an index.
  SKPathEnumIndexedPaths,

  // Insert Indexed Keys Here

} SKPathEnum;
